################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HeroSim/bin/Debug/netcoreapp3.1
/HeroSim/obj
